.u-section-1 {
  background-image: linear-gradient(0deg, rgba(11,15,27,0.55), rgba(11,15,27,0.55)), url("images/Wall1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 105px;
  animation-duration: 1000ms;
  margin: 445px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 10px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 390px;
}

.u-section-2 .u-text-1 {
  margin: 72px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 11px 14px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-left: 9px;
  }
}.u-section-3 {
  background-image: none;
  background-color: #9d9691;
}

.u-section-3 .u-sheet-1 {
  min-height: 223px;
}

.u-section-3 .u-text-1 {
  margin: 66px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 10px;
}.u-section-4 {
  background-image: none;
  background-color: #9d9691;
}

.u-section-4 .u-sheet-1 {
  min-height: 341px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px auto 46px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 295px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 66px;
  width: 66px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 295px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 66px;
  width: 66px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 295px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 69px;
  width: 69px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 18px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 295px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 44px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 456px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 50px auto 50px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 331px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 -60px;
}

.u-section-5 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 37px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 366px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/logoafrilex.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 302px;
  }

  .u-section-5 .u-image-1 {
    width: 345px;
    height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 295px;
    height: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 466px;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 946px;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 50px 0 50px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 366px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-image-1 {
  width: 307px;
  height: 307px;
  background-image: url("images/wordsafari.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -4px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 366px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 -60px;
}

.u-section-6 .u-text-2 {
  margin: 34px 42px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-line-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 302px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 295px;
    height: 295px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    width: 340px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(11,15,27,0.55), rgba(11,15,27,0.55)), url("images/documentsback.png");
}

.u-section-7 .u-sheet-1 {
  min-height: 798px;
}

.u-section-7 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 581px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1685px;
  }

  .u-section-7 .u-gallery-1 {
    height: 826px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2478px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1560px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 599px;
}

.u-section-8 .u-text-1 {
  width: 154px;
  margin: 58px auto 0;
}

.u-section-8 .u-list-1 {
  min-height: 489px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  margin: 0 auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-8 .u-text-1 {
    text-transform: none;
  }

  .u-section-8 .u-list-1 {
    min-height: 403px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-8 .u-list-1 {
    min-height: 926px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2275px;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: calc(100% - 0px);
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}